$main-font-color: black;
$main-font-family: Arial, Helvetica, sans-serif;
$main-bg-color: darkgrey;

$color1: rgba(19, 64, 116, 1);
$color2: rgba(19, 49, 92, 1);
$color3: rgba(11, 37, 69, 1);
$color4: rgba(141, 169, 196, 1);
$color5: rgba(238, 244, 237, 1);

$color6: #f1f2eb;
$color7: #d8dad3;
$color8: #a4c2a5;
$color9: #566246;
$color10: #4a4a48;


$table-font-size: 10pt;

$gentleblue: #7ea3cc;
$lightsilver: rgba(235, 235, 235, 1);


@mixin table($color) {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    background-color: $color;
    font-size: $table-font-size;
}



body {
    color: $main-font-color;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $lightsilver;
    text-align: center;
}

h1 {
    text-align: center;
    margin: none;
    margin-bottom: 40px;
}

a.showlist {
    color: black;
    text-decoration: none;
}

form {
background-color: $color5;
border: 1px solid $color4;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
width: 500px;
margin-left: auto;
margin-right: auto;
padding: 20px 40px;
/* color: #1abc9c; */
color: $color2;
}  


fieldset {
    border: none;
    padding: none;
    margin: 10px 0px;
}

label {
    display: inline-block;
    width: 80px;
    padding-right: 20px;
}

input[type="text"], textarea {
    display: inline-block;
    width: 417px;
    padding: 0.5em;
    font-size: 16px;
    color: gray;
}

textarea {
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    padding: 19px 39px 18px 39px;
    color: white;
    background-color: $color4;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
}

fieldset:last-child {
    margin-top: 40px;
}

input[type="text"]:focus, input[type="password"]:focus, button:focus {
    border: 1px solid #ec576b;
    box-shadow: 0 6px 6px -6px #777;
}

.newBandForm:first-child {
    display: inline-block;
    width: 417px;
    padding: 0.5em;
    margin-top: 20px;
    font-size: 16px;
    color: gray;
    outline-color: darkslategrey;
    align-content: center;
}

.newBandForm:last-child {
    margin-bottom: 20px;
}

#submitbutton {
    display: block;
    padding: 9px 19px 8px 19px;
    color: white;
    background-color: darkslategrey;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    margin-bottom: 10px;
}

#resetbutton {
    display: block;
    padding: 9px 19px 8px 19px;
    color: white;
    background-color: darkslategrey;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    margin-top: 10px;
}

#fill {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8;
    
}

label {
    width: 200px;
}

/* #openers {
    width: 400px;
    height: 200px;
} */

.bandlisting {
    color: black;
    text-align: left;
  
}

/* .festival {
    color: darkgreen;
} */

.bands {
    text-align: center;

}

.banddiv {
    border: solid;
    border-color: silver;
    margin-left: 200px;
    margin-right: 200px;
    color: black;
    padding: 10px;
}

.summary {
    border: solid;
    border-color: silver;
    margin-left: 200px;
    margin-right: 200px;
    padding: 25px;
}




// MAIN MENU

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color4;
    padding: 10px 20px;
    margin: 0;
    box-shadow: 0 2px 1px #777;
    z-index: 1;

    div {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        
        a {
            padding-left: 5px;
            padding-right: 5px;
        }
        }

    }


nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}

nav a:hover {
    text-shadow: 0px 1px 5px #444;
}

nav a:last-child {
    margin: 0;
}

nav div {
    display: inline-block;
}




// STATS

table#stats {
    @include table($color5);

}

#stats td, #stats tr {
    border: 1px solid #ddd;
    padding: 8px;
}

#stats th {
    color: $color3;
}


#stats th:hover {
    color: $color8;
}

.cursor {
    cursor: grab;
}

#stats tr:nth-child(even) {
    background-color: #f2f2f2;
}

#stats tr:hover {
    background-color: rgba(230, 230, 230, 0.747);
}





// BANDS

table#bands {
    @include table($color2);

}

#bands td, #bands tr {
    border: 1px solid #ddd;
    padding: 8px;
}

#bands tr:nth-child(even) {
    background-color: #f2f2f2;
}

#bands tr:hover {
    background-color: darkgrey;
}



// MAIN LISTING - HEADLINER TOURS

$table-color1: rgba(193, 237, 204, 1);
$table-color2: rgba(255, 208, 0, 0.651);




table#headliner {
    @include table($color4);
}


#headliner td, #headliner tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: $table-font-size;
    font-weight: normal;
}

#headliner tr:nth-child(even) {
    background-color: #f2f2f2;
}

#headliner tr:hover {
    background-color: $color8;
}

h2.title {
    text-align: center;
    font-family: Helvetica;
}

.red {
    background-color: red;
}



// MAIN LISTING - MUSIC FESTIVALS

$festival-color-main: rgba(0, 109, 45, 0.623);

table#festivals {
    @include table($festival-color-main);
}

#festivals td, #festivals tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: $table-font-size;
    font-weight: normal;
}



// MAIN LISTING - LOCAL GIGS

table#local {
    @include table($table-color2);
}

#local td, #local tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: $table-font-size;
    font-weight: normal;
}

#local tr:nth-child(even) {
    background-color: #f2f2f2;
}

#local tr:hover {
    background-color: $color5;
}

h2.title {
    text-align: center;
    font-family: Helvetica;
}



// DATA TABLES

.dataTables_wrapper .dataTables_filter {
    float: center;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
  }
  .dataTables_wrapper .dataTables_filter input {
    margin: auto;
  }