body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    font-weight: bold;
}

.center {
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    font-weight: bold;
    margin-bottom: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8;

}

p:hover {
    border-width: 1px;
    border-style: solid;
    border-color: lightseagreen;
    background-color: lightseagreen;
    margin-right: 50%;
}

/* p:hover m {
    background-color: lightseagreen;
    border: none;
} */


concert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8;
}

concert:hover {
    background-color: lightseagreen;
}

m {
    background-color: lightcoral;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

m:hover {
    background-color: yellow;
}

um {
    background-color: orange;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

um:hover {
    background-color: yellowgreen;
}


#menu {
    text-align: center;
}

ul {
    background-color: silver;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    padding: 20px;
    text-align: center;
    font-size: 0;
}

li {
   display: inline-block;
   color: mediumblue;
   border-right-color: blue;
   border-right-width: 1px;
   border-right-style: dashed;
   padding: 0px;
   padding-right: 10px;
   margin-right: 10px;
   font-size: 16px;
}

li:last-child {
    border: none;
}