form {
    background-color: #eee;
    border: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    color: #1abc9c;
}

h1 {
    margin: none;
    margin-bottom: 40px;
}

fieldset {
    border: none;
    padding: none;
    margin: 10px 0px;
}

label {
    display: inline-block;
    width: 80px;
    padding-right: 20px;
}

input[type="text"], textarea {
    display: inline-block;
    width: 417px;
    padding: 0.5em;
    font-size: 16px;
    color: gray;
    outline-color: #1abc9c;
}

textarea {
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    padding: 19px 39px 18px 39px;
    color: white;
    background-color: #1abc9c;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
}

fieldset:last-child {
    margin-top: 40px;
}

input[type="text"]:focus, input[type="password"]:focus, button:focus {
    border: 1px solid #ec576b;
    box-shadow: 0 6px 6px -6px #777;
}

.newBandForm:first-child {
    display: inline-block;
    width: 417px;
    padding: 0.5em;
    margin-top: 20px;
    font-size: 16px;
    color: gray;
    outline-color: #1abc9c;
    align-content: center;
}

.newBandForm:last-child {
    margin-bottom: 20px;
}

#submitbutton {
    display: block;
    padding: 9px 19px 8px 19px;
    color: white;
    background-color: #1abc9c;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    margin-bottom: 10px;
}

#resetbutton {
    display: block;
    padding: 9px 19px 8px 19px;
    color: white;
    background-color: #1abc9c;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    margin-top: 10px;
}