body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eef4ed;
  text-align: center; }

h1 {
  text-align: center; }

a.showlist {
  color: black;
  text-decoration: none; }

form {
  background-color: #eef4ed;
  border: 1px solid #8da9c4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  /* color: #1abc9c; */
  color: #13315c; }

h1 {
  margin: none;
  margin-bottom: 40px; }

fieldset {
  border: none;
  padding: none;
  margin: 10px 0px; }

label {
  display: inline-block;
  width: 80px;
  padding-right: 20px; }

input[type="text"], textarea {
  display: inline-block;
  width: 417px;
  padding: 0.5em;
  font-size: 16px;
  color: gray; }

textarea {
  vertical-align: middle; }

input[type="submit"] {
  display: block;
  padding: 19px 39px 18px 39px;
  color: white;
  background-color: #8da9c4;
  font-size: 18px;
  text-align: center;
  width: 100%;
  border: 1px solid #16a085; }

fieldset:last-child {
  margin-top: 40px; }

input[type="text"]:focus, input[type="password"]:focus, button:focus {
  border: 1px solid #ec576b;
  box-shadow: 0 6px 6px -6px #777; }

.newBandForm:first-child {
  display: inline-block;
  width: 417px;
  padding: 0.5em;
  margin-top: 20px;
  font-size: 16px;
  color: gray;
  outline-color: darkslategrey;
  align-content: center; }

.newBandForm:last-child {
  margin-bottom: 20px; }

#submitbutton {
  display: block;
  padding: 9px 19px 8px 19px;
  color: white;
  background-color: darkslategrey;
  font-size: 18px;
  text-align: center;
  width: 100%;
  border: 1px solid #16a085;
  margin-bottom: 10px; }

#resetbutton {
  display: block;
  padding: 9px 19px 8px 19px;
  color: white;
  background-color: darkslategrey;
  font-size: 18px;
  text-align: center;
  width: 100%;
  border: 1px solid #16a085;
  margin-top: 10px; }

#fill {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8; }

label {
  width: 200px; }

/* #openers {
    width: 400px;
    height: 200px;
} */
.bandlisting {
  color: black;
  text-align: left; }

/* .festival {
    color: darkgreen;
} */
.bands {
  text-align: center; }

.banddiv {
  border: solid;
  border-color: silver;
  margin-left: 200px;
  margin-right: 200px;
  color: black;
  padding: 10px; }

.summary {
  border: solid;
  border-color: silver;
  margin-left: 200px;
  margin-right: 200px;
  padding: 25px; }

#primary_nav_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #134074;
  margin: 0;
  box-shadow: 0 2px 1px #777;
  z-index: 1; }

div.menu {
  position: relative;
  float: left; }

div.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  text-align: right; }

#primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 10px; }

#primary_nav_wrap ul a {
  /*display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:24px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;*/
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-right: 10px; }

#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0; }

#primary_nav_wrap ul li:hover {
  background-color: #8da9c4;
  text-shadow: 0px 1px 5px #444; }

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: darkgrey;
  padding: 0; }

#primary_nav_wrap ul ul li {
  float: none;
  width: 200px; }

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px; }

#primary_nav_wrap ul li:hover > ul {
  display: block; }

.menu {
  text-align: center; }

.home {
  width: 10%;
  text-shadow: 0px 1px 5px #444; }

table {
  float: center;
  text-align: center;
  border-style: solid; }

table#stats {
  border-collapse: collapse;
  margin: auto;
  width: 50%;
  font-size: 10pt; }

#stats td, #stats tr {
  border: 1px solid #ddd;
  padding: 8px; }

#stats th:hover {
  color: #a4c2a5; }

.cursor {
  cursor: grab; }

#stats tr:nth-child(even) {
  background-color: #f2f2f2; }

#stats tr:hover {
  background-color: darkgrey; }

table#bands {
  border-collapse: collapse;
  margin: auto;
  font-size: 10pt; }

#bands td, #bands tr {
  border: 1px solid #ddd;
  padding: 8px; }

#bands tr:nth-child(even) {
  background-color: #f2f2f2; }

#bands tr:hover {
  background-color: darkgrey; }

table#headliner {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  width: 45em;
  background-color: #8da9c4; }

#headliner td, #headliner tr {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 10pt;
  font-weight: normal; }

#headliner tr:nth-child(even) {
  background-color: #f2f2f2; }

#headliner tr:hover {
  background-color: #a4c2a5; }

h2.title {
  text-align: center;
  font-family: Helvetica; }

tr[class$="1"] {
  background-color: green; }

table#festivals {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  width: 55em;
  background-color: #c1edcc; }

#festivals td, #festivals tr {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 10pt;
  font-weight: normal; }

/*#festivals tr:nth-child(even) {
    background-color: rgba(0,50,0,0.3);
}

#festivals tr:nth-child(odd) {
    background-color: rgba(0,150,0,0.3);
}*/
table#local {
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  width: 45em;
  background-color: rgba(255, 208, 0, 0.651); }

#local td, #local tr {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 10pt;
  font-weight: normal; }

#local tr:nth-child(even) {
  background-color: #f2f2f2; }

#local tr:hover {
  background-color: #eef4ed; }

h2.title {
  text-align: center;
  font-family: Helvetica; }

.dataTables_wrapper .dataTables_filter {
  float: center;
  text-align: center; }

.dataTables_wrapper .dataTables_filter input {
  margin-left: auto; }
