body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    font-weight: bold;
}

.center {
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
}

#menu {
    text-align: center;
}

ul {
    background-color: silver;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    padding: 20px;
    text-align: center;
    font-size: 0;
}

li {
   display: inline-block;
   color: mediumblue;
   border-right-color: blue;
   border-right-width: 1px;
   border-right-style: dashed;
   padding: 0px;
   padding-right: 10px;
   margin-right: 10px;
   font-size: 16px;
}

li:last-child {
    border: none;
}