extends layout.pug

block content
    h1 Band List
    -let bands = [];
    each val in documents
        -let headliners = val.headliner;
        -let openers = val.openers;
        -let openerSplit = openers.split(", ");
        -for (i=0; i < openerSplit.length; i++) {
            -bands.push(openerSplit[i])
        -};
        -bands.push(headliners);

        -bands.sort();
    -var counts = {};
    -bands.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
    -let bandList = [];
    -for (i=0; i < Object.entries(counts).length; i++) {
        -bandList.push(Object.entries(counts)[i]); }
    -bandList.shift();
    -bandList.pop();
    -bandList.sort(function(a, b) { return b[1] - a[1]; });
    table#bands
        tr
            th Band
            th # Of Shows
        each band in bandList
            if band != undefined
                if band[1] > 1
                    tr
                        td.name #{band[0]} 
                        td.name #{band[1]}
                else
                    tr
                        td.name #{band[0]}
                        td.name #{band[1]}