extends layout.pug

block scripts
    script.


block content
    h1 Band List
    -let bands = [];
    each val in documents
        -let headliners = Object.values(val)[1];
        -let openers = Object.values(val)[2];
        -let openerSplit = openers.split(", ");
        -for (i=0; i < openerSplit.length; i++) {
            -bands.push(openerSplit[i])
        -};
        -bands.push(headliners);

    -bands.sort();
        -console.log(bands);
        -console.log(bands.length);
    div.banddiv
        each band in bands
                p.bands #{band}