extends layout.pug

block scripts
    script.


block content
    h1 Band List
    -let bands = [];
    each val in documents
        -let headliners = val.headliner;
        -let openers = val.openers;
        -let openerSplit = openers.split(", ");
        -for (i=0; i < openerSplit.length; i++) {
            -bands.push(openerSplit[i])
        -};
        -bands.push(headliners);

        -bands.sort();
    -var counts = {};
    -bands.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
    -let bandList = [];
    -for (i=0; i < Object.entries(counts).length; i++) {
        -bandList.push(Object.entries(counts)[i]); }
    //-bandList.shift();
    each band in bandList
        if band[0].charAt(0) != "["
            if band[1] > 1
                p.bands #{band[0]} (#{band[1]}x)
            else
                p.bands #{band[0]}