extends layout.pug

block content
    h1 Cities List
    br
    div
        -let cities = [];
        each val in documents
            -let city = val.city;
            -cities.push(city);
        -let cityObject = {};
        -let counts = {};
        -cities.sort();
        -cities.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
        -let citiesList = [];
        -for (i=0; i < Object.entries(counts).length; i++) {
            -citiesList.push(Object.entries(counts)[i]); }
        -//venuesList.sort(function(a, b) { return b[1] - a[1]; });

        p.bands You've been to shows in #{citiesList.length} cities. Click on "Cities" or "# Of Shows" to sort the tables.
    table#stats
        tr
            th.city 
                b.cursor(onclick='sortTable(0)') City
            th.number 
                b.cursor(onclick='sortTable(1)') # Of Shows
        each city in citiesList
            tr
                td #{city[0]} 
                td #{city[1]}