extends layout.pug

block content
    h1 Welcome
    br
    p This is a tool for inputting, accessing, and organizing your concert-going data. 
    | Create events and keep track of the who, where, and when of the shows you've been to.
    br
    br
    br
    p
        b Upcoming Features:
        br
        br
        | • Individual band/city/venue pages with related information and statistics.
        br
        | • Add tags to bands/cities/venues/events - e.g. "first show", "cancelled", "missed", etc.
        br