extends layout.pug

block content
    h1 Welcome
    br
    p This is a tool for inputting, accessing, and organizing your concert-going data.
    br
    p
        b Upcoming Features:
        br
        br
        | -The ability to edit and delete shows directly on the main page
        br
        | -Mark bands that were on the bill but that you missed