doctype html
block head

  title= title
  style
    include ../output.css
  script
    include ../javascript/projectfunctions.js


block menu
    br
    nav
        div.menu
            a(href='/') Home
        div.view
            a(href='/summary') Personal Summary
            a(href='mainlisting') Full Listings
        div.stats 
            a(href='bands') Bands
            a(href='venues') Venues
            a(href='cities') Cities
        div.add
            a(href='newshow') Add Headliner Tour
            a(href='newfestival') Add Music Festival
            a(href='newlocal') Add Local Gig 
    br
    br
    br
block content


block foot