doctype html
block head

  title= title
  style
    include style.css

block scripts
    script.


block menu
    br
    nav#primary_nav_wrap
        ul.menu
            li.current-menu-item
                a(href='/') Home
            li.current-menu-item
                a(href="#") View
                ul
                    li.menulist
                        a(href='/summary') Your Personal Summary
                    li.menulist
                        a(href='mainlisting') Full Listings
            li.current-menu-item
                a(href="#") Stats
                ul
                    li.menulist
                        a(href='bands') Bands
                    li.menulist
                        a(href='venues') Venues
            li.current-menu-item
                a(href="#") Add
                ul
                    li.menulist
                        a(href='newshow') Headliner Tour
                    li.menulist
                        a(href='newfestival') Music Festival
                    li.menulist
                        a(href='newlocal') Local Gig 
    br
block content


block foot