extends layout.pug

block content
    h1 Your Personal Summary
    br
    -let bands = [];
    -let cities = [];
    -let venues = [];
    -let dates = [];
    each val in documents
        -let headliners = Object.values(val)[1];
        -let openers = Object.values(val)[2];
        -let openerSplit = openers.split(", ");
        -for (i=0; i < openerSplit.length; i++) {
            -bands.push(openerSplit[i]); };
        -bands.push(headliners);
        -cities.push(Object.values(val)[3]);
        -venues.push(Object.values(val)[4]);
        -dates.push(Object.values(val)[5]);
    -dates.sort();
    -let firstDate = dates[0];
    -let lastDate = dates[dates.length -1];
    -console.log(firstDate);
    -console.log(lastDate);
    p.bands You've seen #{bands.length} bands at #{venues.length} venues in #{cities.length} cities. 
    br
    