extends layout.pug

block content
    h1 Venue List
    br
    div
        -let venues = [];
        each val in documents
            -let venue = val.venue;
            -let city = val.city;
            -venues.push(venue);
        -let venueObject = {};
        -let counts = {};
        -venues.sort();
        -venues.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
        -let venuesList = [];
        -for (i=0; i < Object.entries(counts).length; i++) {
            -venuesList.push(Object.entries(counts)[i]); }

    p.bands You've been to 
        b #{venuesList.length} venues.

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js')
    style
        include ../styling/jquery.dataTables.css
    script.
        $(document).ready(function(){ $('#stats').DataTable( {
            paging: false, order: [[1, 'desc']], info: false
            }); });
    table#stats(style="width:40%")
        thead
            tr
                th.venue Venue
                th.number # Of Shows
        tbody
            each venue in venuesList
                tr
                    td #{venue[0]} 
                    td #{venue[1]}