$main-font-color: black;
$main-font-family: Arial, Helvetica, sans-serif;
$main-bg-color: darkgrey;
$table-blue: blue;
$festival-color: darkseagreen;

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h1 {
    text-align: center;
}

a.showlist {
    color: black;
    text-decoration: none;
}

form {
background-color: #eee;
border: 1px solid #ddd;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
width: 500px;
margin-left: auto;
margin-right: auto;
padding: 20px 40px;
/* color: #1abc9c; */
color: darkslategrey;
}  

h1 {
    margin: none;
    margin-bottom: 40px;
}

fieldset {
    border: none;
    padding: none;
    margin: 10px 0px;
}

label {
    display: inline-block;
    width: 80px;
    padding-right: 20px;
}

input[type="text"], textarea {
    display: inline-block;
    width: 417px;
    padding: 0.5em;
    font-size: 16px;
    color: gray;
}

textarea {
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    padding: 19px 39px 18px 39px;
    color: white;
    background-color: darkslategrey;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
}

fieldset:last-child {
    margin-top: 40px;
}

input[type="text"]:focus, input[type="password"]:focus, button:focus {
    border: 1px solid #ec576b;
    box-shadow: 0 6px 6px -6px #777;
}

.newBandForm:first-child {
    display: inline-block;
    width: 417px;
    padding: 0.5em;
    margin-top: 20px;
    font-size: 16px;
    color: gray;
    outline-color: darkslategrey;
    align-content: center;
}

.newBandForm:last-child {
    margin-bottom: 20px;
}

#submitbutton {
    display: block;
    padding: 9px 19px 8px 19px;
    color: white;
    background-color: darkslategrey;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    margin-bottom: 10px;
}

#resetbutton {
    display: block;
    padding: 9px 19px 8px 19px;
    color: white;
    background-color: darkslategrey;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border: 1px solid #16a085;
    margin-top: 10px;
}

#fill {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8;
    
}

label {
    width: 200px;
}

/* #openers {
    width: 400px;
    height: 200px;
} */

.bandlisting {
    color: black;
    text-align: left;
  
}

/* .festival {
    color: darkgreen;
} */

.bands {
    text-align: center;

}

.banddiv {
    border: solid;
    border-color: silver;
    margin-left: 200px;
    margin-right: 200px;
    color: black;
    padding: 10px;
}

.summary {
    border: solid;
    border-color: silver;
    margin-left: 200px;
    margin-right: 200px;
    padding: 25px;
}




// MAIN MENU

#primary_nav_wrap
{
    margin-right: auto;
    margin-left: auto;
    width: 15em;
    padding-bottom: 30px;
    
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd;
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6;
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0;
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px;
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
    display:block;
}

.menu {
    float: center;
}

table {
    float: center;
    text-align: center;
    border-style: solid;
}





// STATS

table#stats {
    border-collapse: collapse;
    margin: auto;
    width: 50%;
}

#stats td, #stats tr {
    border: 1px solid #ddd;
    padding: 8px;
}


#stats th:hover {
    color: white;
}

.cursor {
    cursor: grab;
}

#stats tr:nth-child(even) {
    background-color: #f2f2f2;
}

#stats tr:hover {
    background-color: darkgrey;
}





// BANDS

table#bands {
    border-collapse: collapse;
    margin: auto;
}

#bands td, #bands tr {
    border: 1px solid #ddd;
    padding: 8px;
}

#bands tr:nth-child(even) {
    background-color: #f2f2f2;
}

#bands tr:hover {
    background-color: darkgrey;
}



// MAIN LISTING - HEADLINER TOURS

table#headliner {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 45em;
}

#headliner td, #headliner tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 10pt;
    font-weight: normal;
}

#headliner tr:nth-child(even) {
    background-color: #f2f2f2;
}

#headliner tr:hover {
    background-color: darkgrey;
}

h2.title {
    text-align: center;
    font-family: Helvetica;
}



// MAIN LISTING - MUSIC FESTIVALS

table#festivals {
    border-collapse: collapse;
    margin: auto;
}

#festivals td, #festivals tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 12pt;
    font-weight: normal;
}

#festivals tr:nth-child(even) {
    background-color: rgba(0,50,0,0.3);
}

#festivals tr:nth-child(odd) {
    background-color: rgba(0,150,0,0.3);
}



// MAIN LISTING - LOCAL GIGS

table#local {
    border-collapse: collapse;
    margin: auto;
}

#local td, #local tr {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 12pt;
    font-weight: normal;
}

#local tr:nth-child(even) {
    background-color: #f2f2f2;
}

#local tr:hover {
    background-color: darkgrey;
}

h2.title {
    text-align: center;
    font-family: Helvetica;
}



// DATA TABLES

.dataTables_wrapper .dataTables_filter {
    float: center;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter input {
    margin-left: auto;
  }